<div class="row white-banner">
  <div class="container">
    <div class="col-md-7 text-center">
      <div style="margin-top: 80px;">
        <h1>Hi business owners!</h1>
        <h1>Drive 2x more sales from takeaways</h1><br>
        <p class="text-green">By providing drive-thru experiences to your customers.</p>
        <p class="text-green">Want to learn more? Get in touch.</p>
        <div style="color:grey;"><small>Coming soon on</small></div><br>
        <div>
          <span><%= image_tag("app_store.png") %></span>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <span><%= image_tag("play_store.png") %></span>
        </div>
      </div>
      <div class="text-center" style="margin-top:50px;"><p>Are you a consumer? <%= link_to "Learn how Drivebuy save your time.", root_path %></p></div>
    </div>
    <div class="col-md-5 text-center" style="margin-top:20px">
      <div><%= image_tag("restoran_drivebuy_tablet.png") %></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="container">
    <div class="col-md-12 text-center" style="margin-top:30px;">
      <h1> How It Works </h1>
    </div>
    <div class="col-md-12 text-center" style="margin-top: 50px; margin-bottom:100px">
      <div class="col-md-3">
        <h1>1</h1>
        <br>
        <p class="text-green">Receive orders ahead from customers via restaurant app.</p>
      </div>
      <div class="col-md-3">
        <h1>2</h1>
        <br>
        <p class="text-green">Monitor customer's current location while preparing orders.</p>
      </div>
      <div class="col-md-3">
        <h1>3</h1>
        <br>
        <p class="text-green">Get notified once customer is arriving by the roadside.</p>
      </div>
      <div class="col-md-3">
        <h1>4</h1>
        <br>
        <p class="text-green">Send out the orders to customer's car. Now your customer can enjoy the convenience of drive-thru.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="background_banner text-center">
    <div class="col-md-12" style="margin-top: 40px;color: black;">
      <h1>Boost customer experience with virtual drive-thru!</h1>
      <h4 class="text-center">Happy customers are returning customers which means more sales.</h4>
    </div>
  </div>
</div>


<div class="row" id="early_access" style="margin-top: 30px;">
  <div class="col-md-12">
    <h1 class="text-center">Ready to drive your business to the next level?</h1><br>
    <h4 class="text-center">Get in touch with us. We would love to tell more on how Drivebuy can help you grow.</h4>
    <h4 class="text-center">Enter your email and we will contact you back as soon as possible.</h4>
  </div>
</div>

<div class="row" style="margin-top: 30px; margin-bottom: 50px;">
  <div class="col-md-12">
    <form action="https://herokuapp.us17.list-manage.com/subscribe/post?u=fa34f83a17b02fc85ac87902a&amp;id=d15a51d00b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div class="col-md-6 col-md-offset-3">
        <div class="form-group">
          <input type="email" name="EMAIL" class="form-control" placeholder="Enter your email" required="true" data-validation-required-message="Please enter your email address">
        </div>
      </div>
      <div class="col-md-12 text-center">
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fa34f83a17b02fc85ac87902a_2de928b9e5" tabindex="-1" value=""></div>
        <button type="submit" class="btn btn-normal btn-success">Contact Me</button>
      </div>
    </form>
  </div>
</div>
