<div class="row">
  <div class="col-md-12 text-center">
    <h1>Get in touch to know more. We are here to answer any questions.</h1>
    <br><br>
  </div>
  <div class="col-md-7 text-center">
    <h3 class="text-green">Send us a message</h3>
    <br>
    <form action="https://herokuapp.us17.list-manage.com/subscribe/post?u=fa34f83a17b02fc85ac87902a&amp;id=d15a51d00b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div class="col-md-6 col-md-offset-3">
        <div class="form-group">
          <input type="text" name="FNAME" class="form-control" placeholder="Enter your first name" required="true" data-validation-required-message="Please enter your first name">
        </div>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <div class="form-group">
          <input type="email" name="EMAIL" class="form-control" placeholder="Enter your email" required="true" data-validation-required-message="Please enter your email address">
        </div>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <div class="form-group">
          <input type="text" name="MMERGE3" class="form-control" placeholder="Enter your phone number" required="true" data-validation-required-message="Please enter your phone number">
        </div>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <div class="form-group">
          <input type="text" name="LNAME" class="form-control" placeholder="Enter your message" required="true" data-validation-required-message="Please enter your message">
        </div>
      </div>
      <div class="col-md-12 text-center">
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fa34f83a17b02fc85ac87902a_d15a51d00b" tabindex="-1" value=""></div>
        <button type="submit" class="btn btn-normal btn-success">Send</button>
      </div>
    </form>
  </div>
  <div class="col-md-5">
    <h3 class="text-green">Our humble office</h3>
    <br>
    <div>
      <p>Drivebuy Sdn Bhd <br>
      E-28-1, City Park <br>
      Jalan Multimedia 7/AG <br>
      Seksyen 7 <br>
      40000 Shah Alam <br>
      Selangor <br></p><br>
      <p>Email: hi@godrivebuy.com <br>
      Phone: 03-55218580</p>
    </div>
  </div>
</div>
