<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Privacy Policy</h1>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    PRIVACY NOTICE
    <br><br>
    This Privacy Notice (“Notice”) describes how GrabTaxi Holdings Pte Ltd and its respective subsidiaries, associate companies and jointly controlled entities (“GrabTaxi Group”) use your Personal Data.
    <br><br>
    Collection of Personal Data
    <br><br>
    “Personal Data” means information about you, from which you are identifiable, including but not limited to your name, identification card number, birth certificate number, passport number, nationality, address, telephone number, fax number, bank details, credit card details, race, gender, date of birth, marital status, resident status, education background, financial background, personal interests, email address, your occupation, your designation in your GrabTaxi Group, your GrabTaxi Group details, the industry in which you work in, any information about you which you have provided to GrabTaxi Group in registration forms, application forms or any other similar forms and/or any information about you that has been or may be collected, stored, used and processed by GrabTaxi Group from time to time and includes sensitive personal data such as data relating to health, religious or other similar beliefs.
    <br><br>
    The provision of your Personal Data is voluntary. However if you do not provide GrabTaxi Group your Personal Data, GrabTaxi Group will not be able to process your Personal Data for the Purposes and Additional Purposes outlined below.
    <br><br>
    If you are an agent, vendor, supplier or service provider, provision of your Personal Data is mandatory and failure to provide your Personal Data, may be a breach of laws or regulatory requirements, and may cause GrabTaxi Group to be unable to engage you to provide services or products or issue payments to you for products or services provided.
    <br><br>
    In addition to the Personal Data you provide to GrabTaxi Group directly, GrabTaxi Group may collect your Personal Data from a variety of sources such as:
    <br><br>
    Fill up application or registration forms or other similar forms;
    From publicly available sources such as directories,
    From GrabTaxi Group’s social media pages, if you follow, like or are a fan of such pages;
    From credit reporting agencies;
    When you interact and communicate with GrabTaxi Group at any events or activities;
    When you enter contests organized by GrabTaxi Group,
    From various entities or divisions under GrabTaxi Group; or
    By using GrabTaxi Group websites, which includes all websites operated by GrabTaxi Group and under the names of its respective brands (“Websites”). Your personal data may also be collected from cookies used on the Websites.
    <br><br>
    Purposes of Processing
    <br><br>
    GrabTaxi Group may use and process your Personal Data for business and activities of GrabTaxi Group which shall include, without limitation the following (“Purpose”):
    <br><br>
    Where you are a customer of the services provided by GrabTaxi Group:
    <br><br>
    to perform the GrabTaxi Group’s obligations in respect of any contract entered into with you;
    to provide you with any service you have requested;
    to process your subscriptions and to deliver the services to you;
    where you have requested to download and use the GrabTaxi or MyTeksi App (“App”), to process your request, to deliver the App to you and to provide you a license for the use of the App;
    to process your participation in any events, activities, focus groups, research studies, contests, promotions, polls, surveys or any productions;
    to process, manage or verify your application for subscription with the GrabTaxi Group and to provide you the benefits offered to subscribers;
    to validate your bookings and process payments relating to any products or services you have requested;
    to understand and analyses our sales as well as your needs and preferences;
    to develop, enhance and provide products and services to meet your needs;
    to process exchanges or product returns;
    <br><br>
    Where you are an agent, vendor, supplier, partner, contractor or service provider:
    <br><br>
    for the purposes of engaging you to provide services or products;
    to facilitate or enable any checks as may be required by GrabTaxi Group in order to engage you;
    to process payments relating to any products or services you have provided;
    to contact you or your GrabTaxi Group;
    <br><br>
    General:
    <br><br>
    to respond to questions, comments and feedback from you;
    to communicate with you for any of the purposes listed in this Notice;
    for internal administrative purposes, such as auditing, data analysis, database records;
    for purposes of detection, prevention and prosecution of crime;
    for GrabTaxi Group to comply with its obligations under law;
    <br><br>
    and you agree and consent to GrabTaxi Group using and processing your Personal Data for the Purposes and in the manner as identified in this Notice.
    <br><br>
    Marketing and promotional purposes
    <br><br>
    GrabTaxi Group may also use and process your data for other purposes such as (“Additional Purposes”):
    <br><br>
    To send you alerts, newsletters, updates, mailers, promotional materials, special privileges, festive greetings from GrabTaxi Group, its partners, sponsors or advertisers;
    To notify and invite you to events or activities organized by GrabTaxi Group, its partners, sponsors or advertisers;
    To process your registration to participate in or attend an event or activity and to communicate with you regarding your attendance at the event or activity;
    To share your Personal Data amongst its subsidiaries, associate companies and jointly controlled entities as well as with its agent, vendor, supplier, partner, contractor or service provider who may communicate with you to market their products, services, events or promotions.
    <br><br>
    by way of post, telephone call, short message service (SMS), by hand and/or by email.
    <br><br>
    Unsubscribe and Revocation of Consent
    <br><br>
    If you wish to unsubscribe to the processing of your Personal Data for Additional Purposes by GrabTaxi Group, please click on the link “Unsubscribe” which is embedded in the relevant email in order not to receive any email in the future.
    <br><br>
    If you wish to revoke the consent that GrabTaxi Group has obtained from you for the Purposes stipulated herein, please notify GrabTaxi Group using the contact details stated below.
    <br><br>
    Transfer of Personal Data
    <br><br>
    Your Personal Data may be transferred to, stored, used and processed in a jurisdiction other than your home nation or otherwise in the country, state and city in which you are present while using any services provided by GrabTaxi Group (“Alternate Country”), to companies under GrabTaxi Group which are located outside of your home nation or Alternate Country and/or where GrabTaxi Group’s servers are located outside of your home nation or Alternate Country. You understand and consent to the transfer of your Personal Data out of your home nation or Alternate Country as described herein.
    <br><br>
    Disclosure to Third Parties
    <br><br>
    Your personal data may be transferred, accessed or disclosed to third parties for the Purposes and Additional Purposes. Further, GrabTaxi Group may engage other companies, service providers or individuals to perform functions on its behalf, and consequently may provide access or disclose to your Personal Data to such service providers or third parties. The third parties include, without limitation:
    <br><br>
    GrabTaxi Group partners, which include parties with whom GrabTaxi Group collaborates with for certain events, programs and activities;
    Event management companies and event sponsors;
    Marketing research companies;
    Service providers, including, information technology (IT) service providers for infrastructure, software and development work;
    Professional advisors and external auditors, including legal advisors, financial advisors and consultants;
    Other entities within GrabTaxi Group; and
    Governmental authorities to comply with statutory, regulatory and governmental requirements.
    <br><br>
    Your Personal Data may also be shared in connection with a corporate transaction, such as a sale of a subsidiary or a division, merger, consolidation, or asset sale, or in the unlikely event of winding-up.
    <br><br>
    Access & Correction Requests and Inquiries, Limiting the Processing of Personal Data
    <br><br>
    Subject to any exceptions under applicable laws of your home nation or Alternate Country, you may request for access to and/or request correction of your Personal Data, request to limit the processing of your Personal Data for the Additional Purposes and/or make any inquiries regarding your Personal Data by contacting:
    <br><br>
    GrabTaxi Holdings Pte Ltd
    c/o Group Legal & Corporate Compliance
    6 Shenton Way,
    #32-01 OUE Downtown,
    Singapore 068809
    Email: dataprotection@grabtaxi.com
    <br><br>
    Subject to any laws of your home nation or Alternate Country, GrabTaxi Group reserves the right to impose a fee for access of your Personal Data in the amounts as permitted therein.
    <br><br>
    In respect of your right to access and/or correct your Personal Data, GrabTaxi Group has the right to refuse the your requests to access and/or make any correction to your Personal Data for the reasons permitted under law, such as where the expense of providing access to you is disproportionate to the risks to your or another person’s privacy.
    <br><br>
    If you do not wish for your Personal Data to be collected via cookies on the Websites, you may deactivate cookies by adjusting your internet browser settings to disable, block or deactivate cookies, by deleting your browsing history and clearing the cache from your internet browser.
    <br><br>
    Links to Third-Party Websites
    <br><br>
    The Websites may contain links to third parties’ websites. Please note that GrabTaxi Group is not responsible for the collection, use, maintenance, sharing, or disclosure of data and information by such third parties. If you provide information directly to such sites, the privacy policy and terms of service on those sites are applicable and GrabTaxi Group is not responsible for the information processing practices or privacy policies of such sites.
    <br><br>
    Personal Information from Minors and Other Individuals
    <br><br>
    As a parent or legal guardian, please do not allow the minor (individuals under 18 (eighteen) years of age) under your care to submit Personal Data to GrabTaxi Group. In the event that such Personal Data is provided to GrabTaxi Group, you hereby consent to the processing of the minor’s Personal Data and personally accept and agree to be bound by this Notice and take responsibility for his or her actions.
    <br><br>
    In some circumstances you may have provided personal data relating to other individuals (such as your spouse, family members or friends) and in such circumstances you represent and warrant that you are authorized to provide their personal data to GrabTaxi Group and you have obtained their consent for their personal data be processed and used in the manner as set forth in this Notice.
    <br><br>
    Acknowledgement and Consent
    <br><br>
    By communicating with GrabTaxi Group, using GrabTaxi Group’s services, purchasing products from GrabTaxi Group or by virtue of your engagement with GrabTaxi Group, you acknowledge that you have read and understood this Notice and agree and consent to the use, processing and transfer of your Personal Data by GrabTaxi Group as described in this Notice.
    <br><br>
    GrabTaxi Group shall have the right to modify, update or amend the terms of this Notice at any time by placing the updated Notice on the Websites. By continuing to communicate with GrabTaxi Group, by continuing to use GrabTaxi Group’s services, purchasing products from GrabTaxi Group or by your continued engagement with GrabTaxi Group following the modifications, updates or amendments to this Notice, such actions shall signify your acceptance of such modifications, updates or amendments.
    <br><br>
    In the event of any conflict between the English and other language versions, the English version shall prevail
  </div>
</div>
