<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Terms of Service</h1>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    TERMS OF USE FOR PANDULALU CUSTOMERS
    <br>
    <i>Last modified: 10 October 2017</i>
    <br><br>
    <b>IMPORTANT</b> – please read these terms carefully. By using the Service (as defined below), you agree that you have read, understood, accepted and agreed with the Terms of Use. You further agree to the representations made by yourself below. If you do not agree to or fall within the Terms of Use of the Service and wish to discontinue using the Service, please do not continue using the Application (as defined below) or the Service.
    <br><br>
    The Terms of Use stated herein (collectively, the “Terms of Use” or this “Agreement”) constitute a legal agreement between you and MyTeksi Sdn Bhd (Company No. 953755-D) (the “Company”). In order to use the Service you must agree to the Terms of Use that are set out below. By using the mobile application supplied to you by the Company (the “Application”), and downloading, installing or using any associated software supplied by the Company (“the Software”) which overall purpose is to enable persons seeking transportation services to certain destinations to be matched with third party transportation providers, drivers and vehicle operators (collectively, the “Service”), you hereby expressly acknowledge and agree to be bound by the Terms of Use, and any future amendments and additions to the Terms of Use as published from time to time at http://www.grab.com or through the Application.
    <br><br>
    The Company reserves the right to modify, vary and change the Terms of Use or its policies relating to the Service at any time as it deems fit. Such modifications, variations and or changes to the Terms of Use or its policies relating to the Service shall be effective upon the posting of an updated version at https://www.grab.com. You agree that it shall be your responsibility to review the Terms of Use regularly and also the Terms of Use applicable to any country where you use the Service which may differ from the country where you registered for the Application (the “Alternate Country”) whereupon the continued use of the Service after any such changes, whether or not reviewed by you, shall constitute your consent and acceptance to such changes. You further agree that usage of the Service in the Alternate Country shall be subject to the Terms of Use prevailing for the Alternate Country which can be found at https://www.grab.com.
    <br><br>
    THE COMPANY IS A TECHNOLOGY COMPANY THAT DOES NOT PROVIDE TRANSPORTATION SERVICES AND THE COMPANY IS NOT A TRANSPORTATION PROVIDER. IT IS UP TO THE THIRD PARTY TRANSPORTATION PROVIDERS TO OFFER TRANSPORTATION SERVICES TO YOU AND IT IS UP TO YOU TO ACCEPT SUCH TRANSPORTATION SERVICES. THE SERVICE OF THE COMPANY IS TO LINK YOU WITH SUCH THIRD PARTY TRANSPORTATION PROVIDERS, BUT DOES NOT NOR IS IT INTENDED TO PROVIDE TRANSPORTATION SERVICES OR ANY ACT THAT CAN BE CONSTRUED IN ANY WAY AS AN ACT OF A TRANSPORTATION PROVIDER. THE COMPANY IS NOT RESPONSIBLE NOR LIABLE FOR THE ACTS AND/OR OMISSIONS OF ANY THIRD PARTY TRANSPORTATION PROVIDER AND/OR ANY TRANSPORTATION SERVICES PROVIDED TO YOU.
    <br><br>
    <h1>1. Representations and Warranties</h1>
    <br><br>
    By using the Service, you expressly represent and warrant that you are legally entitled to accept and agree to the Terms of Use and that you are at least eighteen (18) years old. Without limiting the generality of the foregoing, the Service is not available to persons under the age of eighteen (18) or such persons that are forbidden for any reason whatsoever to enter into a contractual relationship. By using the Service, you further represent and warrant that you have the right, authority and capacity to use the Service and to abide by the Terms of Use. You further confirm that all the information which you provide shall be true and accurate. Your use of the Service is for your own sole, personal use. You undertake not to authorize others to use your identity or user status, and you may not assign or otherwise transfer your user account to any other person or entity. When using the Service, you agree to comply with all applicable laws whether in your home nation or otherwise in the country, state and city in which you are present while using the Service.
    <br><br>
    You may only access the Service using authorized means. It is your responsibility to check and ensure that you have downloaded the correct Software for your device. The Company is not liable if you do not have a compatible device or if you have downloaded the wrong version of the Software to your device. The Company reserves the right not to permit you to use the Service should you use the Application and/or the Software with an incompatible or unauthorized device or for purposes other than which the Software and/or the Application is intended to be used.
    <br><br>
    By using the Software or the Application, you agree that:
    <br><br>
    <ul>
      <li>You will only use the Service for lawful purposes;</li>
      <li>You will only use the Service for the purpose for which it is intended to be used;</li>
      <li>You will not use the Application for sending or storing any unlawful material or for fraudulent purposes;</li>
      <li>You will not use the Application and/or the Software to cause nuisance, annoyance, inconvenience or make fake bookings;</li>
      <li>You will not use the Service, the Application and/or the Software for purposes other than obtaining the Service;</li>
      <li>You shall not contact the third party transportation provider for purposes other than the Service;</li>
      <li>You will not impair the proper operation of the network;</li>
      <li>You shall not intentionally or unintentionally cause or attempt to cause damage to the third party transportation provider;</li>
      <li>You will not try to harm the Service, the Application and/or the Software in any way whatsoever;</li>
      <li>You will not copy, or distribute the Software or other content without written permission from the Company;</li>
      <li>You will only use the Software and/or the Application for your own use and will not resell it to a third party;</li>
      <li>You will keep secure and confidential your account password or any identification we provide you which allows access to the Service;</li>
      <li>You will provide the Company with proof of identity as it may reasonably request or require;</li>
      <li>You agree to provide accurate, current and complete information as required for the Service and undertake the responsibility to maintain and update your information in a timely manner to keep it accurate, current and complete at all times during the term of this Agreement. You agree that the Company may rely on your information as accurate, current and complete. You acknowledge that if your information is untrue, inaccurate, not current or incomplete in any respect, the Company has the right but not the obligation to terminate this Agreement and your use of the Service at any time with or without notice;</li>
      <li>You will only use an access point or data account which you are authorized to use;</li>
      <li>You shall not employ any means to defraud the Company or enrich yourself, through any means, whether fraudulent or otherwise, through any event, promotion or campaign launched by the Company to encourage new subscription or usage of the Service by new or existing passengers;</li>
      <li>You are aware that when requesting transportation services by SMS or use of the Service, standard telecommunication charges will apply;</li>
      <li>You shall not cause a nuisance or behave in an inappropriate or disrespectful manner towards the Company or the third party transportation provider regardless of any misgivings that you may have against the Company or the third party transportation provider;</li>
      <li>You shall not impair or circumvent the proper operation of the network which the Service operates on;</li>
      <li>You agree that the Service is provided on a reasonable effort basis; and</li>
      <li>You agree that your use of the Service will be subject to the Company’s Privacy Policy as may be amended from time to time.</li>
    </ul>
    <br><br>
    You agree to assume full responsibility and liability for all loss or damage suffered by yourself, the third party service provider, the Company or any third party as a result of any breach of the Terms of Use.
    <br><br>
    <h1>2. Payments</h1>
    <br><br>
    <ul>
      <li>You may choose to pay for the transportation services by cash and where available, by credit card and or debit card (“Card”).</li>
      <li>In the event that you choose to pay for the transportation services by Card, you will need to register a valid Card which belongs to you in accordance with the instructions within the Application.</li>
      <li>If the Card belongs to another person, such as your parents, you hereby warrant and agree that you have obtained their permission to use the Card for the payment of the transportation services.</li>
      <li>You agree that we may verify and authorize your Card details when you first register the Card with us as well as when you use the Service.</li>
      <li>You agree that we may issue a reasonable authorization hold, which is not an actual charge against your Card, in order to verify your payment method via your Card. The hold may appear in your statement as “pending”. The authorization hold is issued as a preventive measure against any unauthorized or fraudulent usage of your Card.</li>
      <li>In the event your payment by your Card is processed overseas, you will be liable for any additional charges in relation thereto.</li>
      <li>When you register for the Service, you will have the option to pre-set a default “tip” amount of your choosing. This will automatically be added to the transportation fee at the end of each journey and given to the third party transportation provider
      unless you choose to override it with a different tip amount or to remove the tip.</li>
      <li>Once you have completed a journey using the Service, you are required to make payment in full to the third party transportation provider and your payment will be deducted automatically and is non-refundable. If you have any complaints in relation to the transportation service provided, then that dispute must be taken up with the third party transportation provider directly.</li>
      <li>The Company reserves the right to suspend the processing of any transaction or disable or limit the use of the Card in the event of any error in transaction which results in decline or chargeback from the financial institution or where the Company reasonably believes that the Card has been used for a transaction that may be fraudulent, illegal or involves any criminal activity or where the Company reasonably believes you to be in breach of the Terms of Use.</li>
      <li>You agree that you will cooperate in relation to any financial crime screening that is required and to assist the Company in complying with any prevailing laws or regulations in place.</li>
      <li>You shall be responsible to resolve any disputes with your Card company on your own.</li>
    </ul>
    <br><br>
    <h1>3. Cancellation</h1>
    <br><br>
    You may cancel your request for transportation services at any time before you commence your ride with the third party transport service provider that has been matched with you by the Service.
    <br><br>
    You may make up to two (2) cancellations on the Application within a 7-day rolling period without charge. However, you will be charged a cancellation fee of S$5.00 (“Cancellation Fee”) on the third cancellation, and for each subsequent cancellation, made within such 7-day rolling period. The Company may in its sole and absolute discretion vary, modify or amend the Cancellation Fee, the number of cancellations which shall result in the Cancellation Fee being incurred and/or the rolling period without prior notice to you.
    <br><br>
    Each time before you make a cancellation, you will receive a notification on the Application for you to confirm that you wish to proceed to make the cancellation, and where applicable on the third cancellation, and for each subsequent cancellation, made within a 7-day rolling period, to be charged the Cancellation Fee.
    <br><br>
    The Cancellation Fee will be automatically deducted from your GrabPay Credits or charged to your Card registered on the Application in accordance with the mode of payment you have selected on the Application. If you have insufficient GrabPay Credits or have not registered a Card, then your access to the Application may be blocked after the second cancellation you make within a 7-day rolling period, until and unless you have purchased GrabPay Credits or register a Card on the Application.
    <br><br>
    If you feel you were incorrectly charged a Cancellation Fee, you may contact the Company at support.sg@grab.com or +65 6655 0005 for assistance.
    <br><br>
    <h1>4. License Grant & Restrictions</h1>
    The Company and its licensors, where applicable, hereby grants you a revocable, non-exclusive, non- transferable, non-assignable, personal, limited license to use the Application and/or the Software, solely for your own personal, non-commercial purposes, subject to the Terms of Use herein. All rights not expressly granted to you are reserved by the Company and its licensors.
    <br><br>
    You shall not (i) license, sublicense, sell, resell, transfer, assign, distribute or otherwise commercially exploit or make available to any third party the Application and/or the Software in any way; (ii) modify or make derivative works based on the Application and/or the Software; (iii) create internet “links” to the Application or “frame” or “mirror” the Software on any other server or wireless or internet-based device; (iv) reverse engineer or access the Software in order to (a) build a competitive product or service, (b) build a product using similar ideas, features, functions or graphics of the Application and/or the Software, or (c) copy any ideas, features, functions or graphics of the Application and/or the Software, (v) launch an automated program or script, including, but not limited to, web spiders, web crawlers, web robots, web ants, web indexers, bots, viruses or worms, or any program which may make multiple server requests per second, or unduly burdens or hinders the operation and/or performance of the Application and/or the Software, (vi) use any robot, spider, site search/retrieval application, or other manual or automatic device or process to retrieve, index, “data mine”, or in any way reproduce or circumvent the navigational structure or presentation of the Service or its contents; (vii) post, distribute or reproduce in any way any copyrighted material, trademarks, or other proprietary information without obtaining the prior consent of the owner of such proprietary rights, (viii) remove any copyright, trademark or other proprietary rights notices contained in the Service.
    <br><br>
    You may use the Software and/or the Application only for your personal, non-commercial purposes and shall not use the Software and/or the Application to: (i) send spam or otherwise duplicative or unsolicited messages; (ii) send or store infringing, obscene, threatening, libelous, or otherwise unlawful or tortious material, including but not limited to materials harmful to children or violative of third party privacy rights; (iii) send material containing software viruses, worms, trojan horses or other harmful computer code, files, scripts, agents or programs; (iv) interfere with or disrupt the integrity or performance of the Software and/or the Application or the data contained therein; (v) attempt to gain unauthorized access to the Software and/or the Application or its related systems or networks; or (vi) Impersonate any person or entity or otherwise misrepresent your affiliation with a person or entity (vii) to abstain from any conduct that could possibly damage the Company’s reputation or amount to being disreputable.
    <br><br>
    <h1>5. Intellectual Property Ownership</h1>
    <br><br>
    The Company and its licensors, where applicable, shall own all right, title and interest, including all related intellectual property rights, in and to the Software and/or the Application and by extension, the Service and any suggestions, ideas, enhancement requests, feedback, recommendations or other information provided by you or any other party relating to the Service. The Terms of Use do not constitute a sale agreement and do not convey to you any rights of ownership in or related to the Service, the Software and/or the Application, or any intellectual property rights owned by the Company and/or its licensors. The Company’s name, the Company’s logo, the Service, the Software and/or the Application and the third party transportation providers’ logos and the product names associated with the Software and/or the Application are trademarks of the Company or third parties, and no right or license is granted to use them. For the avoidance of doubt, the term the Software and the Application herein shall include its respective components, processes and design in its entirety.
    <br><br>
    <h1>6. Confidentiality</h1>
    <br><br>
    You shall maintain in confidence all information and data relating to the Company, its services, products, business affairs, marketing and promotion plans or other operations and its associated companies which are disclosed to you by or on behalf of the Company (whether orally or in writing and whether before, on or after the date of this Agreement) or which are otherwise directly or indirectly acquired by you from the Company, or any of its affiliated companies, or created in the course of this Agreement. You shall further ensure that it, its officers, employees and agents only use such confidential information in order to perform the Service, and shall not without the Company’s prior written consent, disclose such information to any third-party nor use it for any other purpose. You shall only disclose such information to such officers, employees and agents as need to know it to fulfil its obligations under this Agreement.
    <br><br>
    <h1>7. Personal Data Protection</h1>
    <br><br>
    You agree and consent to the Company using and processing your Personal Data for the Purposes and in the manner as identified hereunder.
    <br><br>
    For the purposes of this Agreement, “Personal Data” means information about you, from which you are identifiable, including but not limited to your name, identification card number, birth certificate number, passport number, nationality, address, telephone number, credit or debit card details, race, gender, date of birth, email address, any information about you which you have provided to the Company in registration forms, application forms or any other similar forms and/or any information about you that has been or may be collected, stored, used and processed by the Company from time to time and includes sensitive personal data such as data relating to health, religious or other similar beliefs.
    <br><br>
    The provision of your Personal Data is voluntary. However, if you do not provide the Company your Personal Data, your request for the Application may be incomplete and the Company will not be able to process your Personal Data for the Purposes outlined below and may cause the Company to be unable to allow you to use the Service.
    <br><br>
    The Company may use and process your Personal Data for business and activities of the Company which shall include, without limitation the following (the “Purpose”):
    <br><br>
    <ul>
      <li>To perform the Company’s obligations in respect of any contract entered with you;</li>
      <li>To provide you with any services pursuant to the Terms of Use herein;</li>
      <li>To process your participation in any events, promotions, activities, focus groups, research studies, contests, promotions, polls, surveys or any productions and to communicate with you regarding your attendance thereto;</li>
      <li>Process, manage or verify your application for the Service pursuant to the Terms of Use herein;</li>
      <li>To validate and/or process payments pursuant to the Terms of Use herein;</li>
      <li>To develop, enhance and provide what is required pursuant to the Terms of Use herein to meet your needs;</li>
      <li>To process any refunds, rebates and or charges pursuant to the Terms of Use herein;</li>
      <li>To facilitate or enable any checks as may be required pursuant to the Terms of Use herein;</li>
      <li>To respond to questions, comments and feedback from you;</li>
      <li>To communicate with you for any of the purposes listed herein;</li>
      <li>For internal administrative purposes, such as auditing, data analysis, database records;</li>
      <li>For purposes of detection, prevention and prosecution of crime;</li>
      <li>For the Company to comply with its obligations under law;</li>
      <li>To send you alerts, newsletters, updates, mailers, promotional materials, special privileges, festive greetings from the Company, its partners, advertisers and or sponsors;</li>
      <li>To notify and invite you to events or activities organised by the Company, its partners, advertisers, and or sponsors; and/or</li>
      <li>To share your Personal Data amongst the companies within the Company’s group of companies comprising the subsidiaries, associate companies and or jointly controlled entities of the holding company of the group (the “Group”) and with the Company’s and Group’s agents, third party providers, developers, advertisers, partners, event companies or sponsors who may communicate with you for any reasons whatsoever.</li>
    </ul>
    <br><br>
    If you do not consent to the Company processing your Personal Data for any of the Purposes, please notify the Company using the support contact details as provided in the Application.
    <br><br>
    If any of the Personal Data that you have provided to us changes, for example, if you change your e- mail address, telephone number, payment details or if you wish to cancel your account, please update your details by sending your request to the support contact details as provided in the Application.
    <br><br>
    The Company will, to the best of its abilities, effect such changes as requested within fourteen (14) working days of receipt of such notice of change.
    <br><br>
    By submitting your information to the Company, you consent to the use of that information as set out in the form of submission and in the Terms of Use.
    <br><br>
    <h1>8. Disclaimer of Warranties</h1>
    <br><br>
    THE COMPANY MAKES NO REPRESENTATION, WARRANTY, OR GUARANTEE AS TO THE RELIABILITY, TIMELINESS, QUALITY, SUITABILITY, AVAILABILITY, ACCURACY OR COMPLETENESS OF THE SERVICE, THE APPLICATION, THE SOFTWARE AND/OR REWARDS. THE COMPANY DOES NOT REPRESENT OR WARRANT THAT (A) THE USE OF THE SERVICE, THE APPLICATION AND/OR THE SOFTWARE WILL BE SECURE, TIMELY, UNINTERRUPTED OR ERROR-FREE OR OPERATE IN COMBINATION WITH ANY OTHER HARDWARE, SOFTWARE, SYSTEM OR DATA, (B) THE SERVICE AND/OR REWARDS WILL MEET YOUR REQUIREMENTS OR EXPECTATIONS, (C) ANY STORED DATA WILL BE ACCURATE OR RELIABLE, (D) THE QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION, REWARDS OR OTHER MATERIALS PURCHASED OR OBTAINED BY YOU THROUGH THE APPLICATION WILL MEET YOUR REQUIREMENTS OR EXPECTATIONS, (E) ERRORS OR DEFECTS IN THE APPLICATION AND/OR THE SOFTWARE WILL BE CORRECTED, OR (F) THE APPLICATION OR THE SERVER(S) THAT MAKE THE APPLICATION AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS, OR (G) THE APPLICATION AND/OR THE SOFTWARE TRACKS YOU OR THE VEHICLE USED BY THE THIRD PARTY TRANSPORTATION PROVIDER. THE SERVICE AND REWARDS ARE PROVIDED TO YOU STRICTLY ON AN “AS IS” BASIS. ALL CONDITIONS, REPRESENTATIONS AND WARRANTIES, WHETHER EXPRESS, IMPLIED, STATUTORY OR OTHERWISE, INCLUDING, WITHOUT LIMITATION, ANY IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT OF THIRD PARTY RIGHTS, ARE HEREBY EXCLUDED AND DISCLAIMED TO THE HIGHEST AND MAXIMUM EXTENT.
    <br><br>
    THE COMPANY MAKES NO REPRESENTATION, WARRANTY, OR GUARANTEE AS TO THE RELIABILITY, SAFETY, TIMELINESS, QUALITY, SUITABILITY OR AVAILABILITY OF ANY SERVICES AND/OR REWARDS, INCLUDING BUT NOT LIMITED TO THE THIRD PARTY TRANSPORTATION OR OTHER SERVICES AND PRODUCTS OBTAINED BY OR FROM THIRD PARTIES THROUGH THE USE OF THE SERVICE, THE APPLICATION AND/OR THE SOFTWARE AND/OR THE REDEMPTION, SUPPLY OR USE OF REWARDS. YOU ACKNOWLEDGE AND AGREE THAT THE ENTIRE RISK ARISING OUT OF YOUR USE OF THE SERVICE, AND ANY THIRD PARTY SERVICES, INCLUDING BUT NOT LIMITED TO THE THIRD PARTY TRANSPORTATION OR OTHER SERVICES AND PRODUCTS REMAIN SOLELY AND ABSOLUTELY WITH YOU AND YOU SHALL HAVE NO RECOURSE WHATSOEVER TO THE COMPANY.
    <br><br>
    <h1>9. Internet Delays</h1>
    <br><br>
    THE SERVICE, THE APPLICATION AND/OR THE SOFTWARE MAY BE SUBJECT TO LIMITATIONS, DELAYS, AND OTHER PROBLEMS INHERENT IN THE USE OF THE INTERNET AND ELECTRONIC COMMUNICATIONS INCLUDING THE DEVICE USED BY YOU OR THE THIRD PARTY TRANSPORTATION PROVIDER BEING FAULTY, NOT CONNECTED, OUT OF RANGE, SWITCHED OFF OR NOT FUNCTIONING. THE COMPANY IS NOT RESPONSIBLE FOR ANY DELAYS, DELIVERY FAILURES, DAMAGES OR LOSSES RESULTING FROM SUCH PROBLEMS.
    <br><br>
    <h1>10. Limitation of Liability</h1>
    <br><br>
    TO THE FULLEST EXTENT PERMITTED BY LAW, THE COMPANY SHALL NOT BE LIABLE FOR ANY CLAIM, LOSS, DAMAGE, COSTS OR EXPENSES INCURRED, SUFFERED OR SUSTAINED BY YOU ARISING FROM OR IN CONNECTION WITH YOUR PARTICIPATION OR MEMBERSHIP IN THE GRABREWARDS LOYALTY PROGRAMME, INCLUDING WITHOUT LIMITATION:
    <br><br>
    <ul>
      <li>ANY FAILURE OR REFUSAL BY ANY THIRD PARTY MERCHANTS IN ACCEPTING THE POINTS FOR REDEMPTION OR REWARDS REDEEMED;</li>
      <li>ANY LOSS OF DATA AND RECORDS RELATING TO THE GRABREWARDS LOYALTY PROGRAMME;</li>
      <li>ANY ACTS, OMISSIONS, NEGLIGENCE OR WILFUL DEFAULT ON THE PART OF THE THIRD PARTY MERCHANTS PROVIDING THE REWARDS;</li>
      <li>ANY ACTS, OMISSIONS, NEGLIGENCE OR WILFUL DEFAULT ON THE PART OF THE COMPANY, ITS DIRECTORS, OFFICERS, EMPLOYEES, AGENTS OR CONTRACTORS RELATING TO THE GRABREWARDS LOYALTY PROGRAMME; AND</li>
      <li>ANY LOSS OF VALUE OR BENEFIT THAT MAY ARISE AS A RESULT OF ANY CHANGES MADE TO THE GRABREWARDS LOYALTY PROGRAMME.</li>
    </ul>
    <br><br>
    THE COMPANY SHALL NOT BE LIABLE FOR ANY INJURY TO YOUR PERSON OR LOSS OF LIFE OR PROPERTY OR DELAY OF YOUR JOURNEY FOR ANY REASON WHICH MAY INCLUDE BUT NOT LIMITED TO AN ACT OF GOD INCLUDING BUT NOT LIMITED TO NATURAL DISASTERS, TYPHOONS OR FLOOD, AN ACT OF WAR, CIVIL DISRUPTIONS OR STRIKES OR THE ANTICIPATION OF THE SAME, CRIMINAL ACTS OR OMISSIONS OF THIRD PARTIES, INDUSTRIAL ACTIONS, UNFORESEEABLE TRAFFIC CONDITIONS, SEIZURE UNDER LEGAL PROCESS, NATIONAL OR LOCAL DISRUPTIONS TO AIR, GROUND OR WATER TRANSPORTATION NETWORKS OR BREAKDOWN IN COMMUNICATION OR INFORMATION SYSTEMS.
    <br><br>
    THE COMPANY PROVIDES NO WARRANTY, ASSURANCE, OR PROMISE THAT ITS TECHNOLOGY, APPLICATIONS, OR CUSTOMER SERVICE WILL WORK AS INTENDED ON YOUR PHONE, COMPUTER, TABLET OR OTHER DEVICE.
    <br><br>
    THE COMPANY DOES NOT WARRANT OR GUARANTEE THE AVAILABILITY, RELIABILITY, TIMELINESS, ACCURACY, OR QUALITY OF THE DELIVERY SERVICES, APPLICATION OR THE THIRD PARTY TRANSPORTATION PROVIDERS.
    <br><br>
    THE COMPANY IS NOT LIABLE FOR ANY LOSSES, DAMAGES, CLAIMS OR COSTS INCLUDING ANY CONSEQUENTIAL, INDIRECT OR INCIDENTAL LOSSES OR DAMAGES TO YOUR MOBILE DEVICE OR ANY APPLICATIONS STORED THEREIN AS A RESULT OF INSTALLATION OR USE OF THE  APPLICATION.
    <br><br>
    THE COMPANY SHALL NOT BE LIABLE FOR ANY LOSSES OR DAMAGES, INCLUDING BUT NOT LIMITED TO ANY INJURY WHICH YOU MAY SUFFER, ANY DAMAGE OR LOSS TO PROPERTY OWNED BY OR IN YOUR POSSESSION, OR ANY INDIRECT LOSS AND DAMAGE, RESULTING FROM THE THIRD PARTY TRANSPORTATION PROVIDERS’ SERVICES, MATTERS RELATING TO THIRD PARTY TRANSPORTATION PROVIDERS, OR THE PROCESS OF TRANSPORTATION BY REASON OF YOU USING THE SERVICE IN YOUR CAPACITY AS A PASSENGER.
  </div>
</div>
